<launch>
    <include file="$(find hk_camera)/launch/single_device.launch"/>
    <include file="$(find superpower_track)/launch/superpower_track_vision.launch"/>

    <include file="$(find windmill)/launch/windmill.launch"/>
    <include file="$(find rm_forecast)/launch/forecast.launch"/>

</launch>
